form{
    box-sizing: border-box;
    border:2px rgba(0, 0, 0, 0.418) solid;
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(223, 219, 219);
    width: 250px;
    height: auto;
    margin: auto;
    padding:5px;
}
input{
    padding: 10px;
}
.number{
    border-radius: 8px;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    width:40px;
    margin: 3px;
    margin-left: 10px;
    background-color: rgb(223, 219, 219);
    font-weight: 1000;
}
.arithmetic{
    border-radius: 8px;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    width:40px;
    margin: 3px;
    margin-left: 10px;
    background-color: rgb(223, 219, 219);
    font-weight: 1000
}
.dotequal{
    border-radius: 8px;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    width:40px;
    margin: 3px;
    margin-left: 10px;
    background-color: rgb(223, 219, 219);
    font-weight: 1000
}
.allclear{
    border-radius: 8px;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent; 
    width: 105px;
    margin: 3px;
    margin-left: 10px;
    background-color: rgb(223, 219, 219);
    font-weight: 1000
}
.clear{
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 8px;
    width:40px;
    color: orangered;
    background-color: rgb(223, 219, 219);
    font-weight: 1000
}
.inputbox{
    border-radius: 6px; 
    width: 205px;
    font-size:18px;
    height: 30px; 
    background-color: rgb(153, 149, 163);
    color: rgb(3, 3, 3);
    margin: 3px;
}
.arithmetic:hover,.number:hover,.dotequal:hover,.reset:hover,#ae:hover{
    background:rgb(63, 63, 255);
    transition:0.5s;
}
